## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Monteiro,BR,78.60,broken clouds,-7.8894,-37.1200,Pousada Seu Tião
1,4,Anito,PH,79.05,broken clouds,12.4497,125.2886,El Felix Cottages
2,6,Itoman,JP,84.40,overcast clouds,26.1247,127.6694,Southern Beach Hotel & Resort Okinawa
3,13,Sterling,US,86.23,broken clouds,39.0062,-77.4286,Hampton Inn & Suites Washington-Dulles Interna...
4,15,Hithadhoo,MV,83.39,scattered clouds,-0.6000,73.0833,Scoop Guest House

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and <dt>Max Temp</dt><dd>{Max Temp} °F</dd>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Paris']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Paris']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Bar-Le-Duc']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Margate']
vacation_stop3 = vacation_df.loc[vacation_df['City'] =='Lasa']

In [22]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start[["Lat","Lng"]].to_numpy()[0])
end = (vacation_end[["Lat","Lng"]].to_numpy()[0])
stop1 = (vacation_stop1[["Lat","Lng"]].to_numpy()[0])
stop2 = (vacation_stop2[["Lat","Lng"]].to_numpy()[0])
stop3 = (vacation_stop3[["Lat","Lng"]].to_numpy()[0])

In [25]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
start = start
end = end 
waypoints = [stop1, stop2, stop3]
directions =gmaps.directions_layer(start, end, waypoints=waypoints, travel_mode='DRIVING')
directions =gmaps.directions_layer(start, end, waypoints=waypoints, travel_mode='BICYCLING')
directions =gmaps.directions_layer(start, end, waypoints=waypoints, travel_mode='WALKING')
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,224,Paris,FR,86.95,clear sky,48.8534,2.3488,Britannique Hotel - Paris Centre
1,405,Bar-Le-Duc,FR,82.22,clear sky,48.7500,5.1667,ibis budget Bar-le-Duc
2,661,Margate,GB,76.10,scattered clouds,51.3813,1.3862,Premier Inn Margate hotel
3,607,Lasa,IT,83.35,scattered clouds,46.6166,10.7002,Pension Feldgärtenhof

In [26]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and <dt>Max Temp</dt><dd>{Max Temp} °F</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))